<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486938600231-8o0jlc46r4vng08k9t4aodd4a8ut9ojg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486938600231-8o0jlc46r4vng08k9t4aodd4a8ut9ojg</string>
	<key>API_KEY</key>
	<string>AIzaSyDxdUk5prHXa0GVxIx_601QCTKT1ie11cY</string>
	<key>GCM_SENDER_ID</key>
	<string>486938600231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.news</string>
	<key>PROJECT_ID</key>
	<string>newsapp-bb26b</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-bb26b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486938600231:ios:8b40184d5a0266687f3f02</string>
</dict>
</plist>